html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #212529;
  background-color: #cadbeb;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 15px 0;
}
.header__title {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.header__text {
  font-size: 21px;
  text-align: center;
  font-weight: 500;
}

.wrapper {
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}
.list-state {
  padding: 15px 0;
  text-align: center;
}
.list-state__hidden {
  display: none;
}
.list-state__title {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}
.list-state__img {
  width: 150px;
}
.list-state__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 10px;
  padding: 10px;
}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.task-item__title {
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.task-item__buttons {
  display: flex;
  gap: 0 10px;
}
.task-item__title--done {
  text-decoration: line-through;
  color: #309430;
}
.btn-action {
  background-color: #e0e5ea;
  padding: 10px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-action:hover {
  background-color: #e0e5ea;
  opacity: 1;
}
.btn-action img {
  /* Убираем все события с елемента */
  pointer-events: none;
}
.form__title {
  font-size: 21px;
  font-weight: 500;
  padding: 10px;
}
.form__box {
  padding: 10px;
}
.form__input {
  font-size: 18px;
  width: 100%;
  border: 1px solid #ced4da;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.form__input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
.form__text {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 10px;
}
.button__wrraper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 20px;
  padding: 10px;
}
.btn {
  width: 320px;
  font-size: 21px;
  color: #fff;
  background-color: #0062cc;
  border-color: transparent;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.btn:active {
  transform: translate(0%, 1px);
}
.form__btn:hover {
  border-color: #005cbf;
  opacity: 1;
}
.removedonetasks__btn {
  background-color: #309430;
}
.removeeverytasks__btn {
  background-color: #e11a1a;
}
.removedonetasks__btn:hover {
  border-color: #309430;
  opacity: 1;
}
.removeeverytasks__btn:hover {
  border-color: #e11a1a;
  opacity: 1;
}

.footer {
  padding: 15px 0;
}
.footer__link {
  display: block;
  width: 210px;
  margin: 0 auto;
  transition: color 0.3s;
}
.footer__link:hover {
  color: #0062cc;
}

@media (max-width: 694px) {
  .form__btn {
    width: 100%;
  }
  .removedonetasks__btn {
    height: 73px;
  }
  .removeeverytasks__btn {
    height: 73px;
  }
}

@media (max-width: 522px) {
  .removedonetasks__btn {
    height: 98px;
  }
  .removeeverytasks__btn {
    height: 98px;
  }
}

@media (max-width: 376px) {
  .removedonetasks__btn {
    width: 157px;
  }
  .removeeverytasks__btn {
    width: 157px;
  }
}

@media (max-width: 348px) {
  .list-state__title {
    font-size: 25px;
  }
}
